.heading {
	color:black;
}
.text-size{
	font-size:30px;
}
body { background-color:gray;
  font-family: 'Roboto Condensed', serif;
  font-color:black;
  font-size: 20px;
}
.imgheight {float:left; height:300px; width:300px; border-style: double; border-color: #000;
}
.txtpop {
	padding-left: 15px; display:inline;
}
.cenbox {
	text-align: center;
}
.indenty {
	padding-left: 15px; color:#FC0;
}
p {
   text-align: center;
}
ul {text-align: center}
li {text-align: center}
div {
	padding:10px; background-color: #666; color: #FFF; border-top-style: solid; border-top-color: #333; border-bottom-style: solid; border-bottom-color: #333;
}