body {
     font-family:Veranda;
     font-size:20px;
     font-color:black;
     background-color: white;
}
header {
	font-family:Veranda;
	font-size:20px;
	font-color:white;
	background-color:black;
}
footer {
	font-family:Veranda;
	font-size:20px;
	font-color:white;
	background-color:black;
}